*{
    font-family: 'Mukta Mahee', sans-serif;
    color: #ffffff !important;
    text-shadow: 2px 3px 3px rgba(0,0,0,0.6);
  }
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(180deg, rgb(15, 60, 107), rgb(26, 91, 153));
  border-bottom: 2px solid ghostwhite;
  box-shadow: 0 0 10px 2px black;
  z-index: 1;
  display: flex;
  }
#particles-js {
  right: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
  #sitename{
    position: fixed;
    top: 15px;
    left: 20px;
    font-size: 2em;
  }
#kaledos p {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: middle;
  position: fixed;
  left: 40%;
  top: 20px;
  text-shadow: 0 0 10px, 0 0 50px, 0 0 5px #3ba7de, 0 0 5px #225381;
  pointer-events: none;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7e00e6, 0 0 40px #9d00e6, 0 0 50px #9d00e6, 0 0 60px #9d00e6, 0 0 70px #8a00e6;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
  #list{
    background: rgb(156, 156, 156);
    /*background: rgb(156, 156, 156);*/
    position: fixed;
    top: 120px;
    left: 0;
    width: 30%;
    overflow-y: auto;
  }
  #additional-information{
    background: linear-gradient(90deg, rgb(9, 55, 98), rgb(8, 93, 135));
    /*background: rgb(190, 190, 190);*/
    position: fixed;
    top: 120px;
    right: 0;
    width: 30%;
    overflow-y: auto;
  }
  #info{
    background: linear-gradient(180deg, rgb(15, 70, 128), rgb(29, 123, 195));
    position: fixed;
    top: 120px;
    left: 30%;
    width: 40%;
    overflow-y: auto;
  }
  #inner-info, #inner-right-info{
    padding: 1em;
  }
  .entry{
    padding: 1.2em;
  }
  .entry:nth-child(odd){
  background: linear-gradient(90deg, rgb(32, 118, 172), rgb(34, 120, 185));
  }
  
  A:hover {color:rgb(0, 0, 0) !important; text-decoration:none; }
  
.selected:nth-child(odd){
  background: linear-gradient(90deg, rgb(20, 57, 93), rgb(16, 69, 91));
}
  }
  .author{
    font-variant: small-caps;
  }
  #levelname{
    font-size: 1.9em;
    font-weight: bold;
  
  }
  #levelauthor{
    font-size: 1.1em;
  }
  #leveldescription{
    font-size: 0.8em;
    font-variant: small-caps;
  
  }
  .vid{
    width: 100%;
  }
  #records{
    width: 100%;
  }
  #records-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
  }
  #records-table{
    border: 0.5px solid rgb(255, 255, 255);
    width: 100%;
    box-shadow: 0 0 5px 1px black;
    pointer-events: none;
  }
  #explanation-simple-title{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }
  #explanation-simple{
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  .interentry{
    width: 100%;
    padding: 0.5em;
  }
.entry:nth-child(even){
  background: linear-gradient(90deg, rgb(26, 92, 142), rgb(27, 107, 147));
  }
  .entry:nth-child(even):hover{
    background: #000000;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
  }
.entry:nth-child(odd):hover{
    background: #000000;
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
  }
.selected:nth-child(even){
  background: linear-gradient(90deg, rgb(36, 120, 198), rgb(40, 163, 215));
}
  #block{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-size: 3em;
  }
  .hacked{
    background: rgb(0, 64, 255);
    color: white;
    font-weight: strong;
    font-size: 0.4em;
    padding: 0.4em;
    border-radius: 1em;
  }
  .p-hacked{
    background: rgb(48, 133, 214);
    color: white;
    font-weight: strong;
    font-size: 0.4em;
    padding: 0.4em;
    border-radius: 1em;
  }
  #hi{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 99;
  }
  #user-rank {
    font-size: 25px;
    font-weight: bold;
  }
  
  Swal2 {
    color: black;
  }

    .interentry{
  padding: 0.5em;
  border: 0px solid rgb(255, 255, 255);
  
}
.record-entry a:link{
  color: white !important;
}
.record-entry:nth-child(even){
  background: rgb(36, 117, 158);
}
.record-entry:nth-child(odd){
  background: rgb(31, 88, 132);
}

  /* scroll bar [DO NOT MODIFY] */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(26, 26, 26); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 68, 68); 
  }